body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

/* Global Smooth Transitions */
a,
button,
input,
textarea,
select {
  transition: all 0.3s ease;
}

/* Loading Logo Animation */
@keyframes breathe {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.loading-logo {
  animation: breathe 2s infinite ease-in-out;
}